<!DOCTYPE html>
<html>
  <head>
    <title> Gear Tracker </title>


    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  </head>
  <header>
        <% include ../views/partials/header %>
    </header>
  <body>
    <div class="body_div">  
      <% if (!user) { %>
        <div class="page_copy">
          <h1> Welcome to Gear Tracker </h1>
          <p>A mobile/tablet/laptop-friendly app that will track all your gear for every gig.</p>
        </div>  
        
        <div class="list">  
          <ul>
          	<li class="li">Create an account.</li>
          	<li>Create a gear list.</li>
          	<li>Add you tour dates and venue details.</li>
          </ul><br>
        </div>

<<<<<<< HEAD
	<div class="col-md-6">
    	<% if (user) { %>
    		<p>You are currently logged in as <%= user.username %></p>

    		<ul>
          <li> <a href='/pong'>Testing</a> </li>
    	    <li>	<a href="/logout">Logout</a> </li>
        </ul> 
        <h5>INVENTORY LIST</h5>
			<% instruments.forEach( function( instrument ) { %>
    			<h6 class="globalList"><%= instrument.type %> <%= instrument.model %> <button class="add">add to user list</button></h6>
    		<% }); %>
  </div>

    <div class="col-md-6">

    <h4>My personal list</h4>
		 <!--  <ul id="my-list">
		  </ul>
		  <button class="finalize">Submit List</button> -->
         <!--   ADD MY LIST TO TABLE -->
       <table class="table table-hover table-bordered">
    <thead class="thead-inverse">
          <tr>
            <th>#</th>
            <th>Type</th>
            <th>Model</th>
            <th>Issues</th>
          </tr>
    </thead>
    <tbody>
          <tr>
            <th scope="row">1</th>
            <td id="my-list"></td>
            <td></td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td></td>
            <td></td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr>
    </tbody>
  </table> 

 <button class="finalize">Submit List</button>
    <br>
    <span class="show_array"></span>
    <% } %>

    </div>
   <script src='http://code.jquery.com/jquery.js'></script>
   <script src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js'></script>
=======
        <div class="page_copy">
          <p>We created a fully responsive inventory tracking app. </p>
          <p>You can monitor the date/time your gear is checked into the venue location and when it is loaded back on the truck. </p><br>
          <p>You can also note the condition of the equipment at any time.</p>
        </div>  	
      <% } %>
     

  	<div class="col-md-6">
      	<% if (user) { %>
        <h1>Step 1</h1>
        <h3>Select your instruments</h3>
      		<p>You are currently logged in as <%= user.username %></p>
      		

  			<% instruments.forEach( function( instrument ) { %>
      			<h6 class="globalList"><%= instrument.type %> <%= instrument.model %> <button class="add">add to user list</button></h6>
      		<% }); %>
    </div>
    <h1>Step 2</h1>
    <h3>Submit you list</h3>
      <div class="col-md-6">
  		<h4>My personal list</h4>
  		<ul id="my-list">
  		</ul>
  		<button class="finalize">Submit List</button>

  		<br>
  		<span class="show_array"></span>
  <% } %>
      </div>

>>>>>>> master

     <script src='http://code.jquery.com/jquery.js'></script>
     <script src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js'></script>

     <script>
  	   $(function() {
  			$(document).on('click', '.add', function() {
  				$(this).parent().removeClass("globalList").addClass("personalList");
  	        	$(this).parent().appendTo("#my-list");
  	        	$(this).remove();
  	    	});
  	    });
     </script>

  	<script>
  		$(function() {
  			$('.finalize').on('click', function() {
     				//declare an array
  				var myGearList = new Array();

  				$('.personalList').each(function(){
  					var splititup =  
  		   			myGearList.push($(this).text());
  		   		});

  		   		$.ajax({
  				  type: 'POST',
  				  url: "/usercreationlist",
  				  data: myGearList,
  				  success: function(i){
  				  	console.log(myGearList);
  				  	$('#i').html(i);
  				  }
  				});



  		   		for (var i = 0; i < myGearList.length; i++) {
      				$(".show_array").append('<span>' + myGearList[i] + ', ' + '</span>');
  				};
  			});
  		});
  	</script> 
  </div>
  </body>
</html>